.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.25); /* hafif cam efekti */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
