.card_img {
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  object-fit: cover;
}

.card_image {
  display: flex;
  gap: 48px;
}

.card_meta {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 10px;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.description_detail {
  margin-top: 16px;
  line-height: 1.5;
  color: #475467;
}

.detail_page {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 48px;
}

.detai_div {
  display: flex;
  gap: 40px;
}
