.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
}

.feature_item {
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 48px;
  gap: 8px;
  padding-left: 18px;
  padding-right: 18px;
  flex-direction: row;
}
