.reviews {
  display: flex;
  flex-direction: column;
  width: 631px;
  margin-top: 56px;
}

.card {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  color: #e44848;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 4px;
}

.stars {
  display: flex;
  gap: 4px;
}

.comment {
  margin-top: 16px;
  line-height: 1.5;
  color: #475467;
}
