.reviews {
  display: flex;
  flex-direction: column;
  width: 631px;
  margin-top: 56px;
}

.header {
  display: flex;
  align-items: center;
}

.avatar {
  color: #e44848;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.name {
  margin-bottom: 4px;
}

.stars {
  display: flex;
  gap: 4px;
}

.comment {
  margin-top: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 44px;
}
