.filter_item {
  width: 110px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dadde1;
  border-radius: 12px;
  cursor: pointer;
  gap: 8px;
}

.eq_div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 360px;
  gap: 12px;
  margin-bottom: 32px;
}

.active {
  border-color: #e44848;
}

.loc_label {
  position: relative;
  width: 360px;
  display: block;
}

.loc_input {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding-left: 56px;
  background: #f7f7f7;
  border: none;
  border-radius: 12px;
  outline: none;
}

.map {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.loc_input:not(:placeholder-shown) + .map {
  opacity: 1;
}

.filter_head {
  margin-top: 40px;
  margin-bottom: 32px;
}
