.home_Img {
  width: 100%;
  height: 100%;
}

.home_h1 {
  color: #f7f7f7;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
}
.home_h2 {
  color: #f7f7f7;
  font-weight: 600;
  font-size: 24px;
}

.homePage {
  position: absolute;
  margin-top: 260px;
  margin-left: 64px;
}

.home_buton {
  width: 173px;
  height: 56px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border-radius: 200px;
  background-color: #e44848;
  margin-top: 40px;
  cursor: pointer;
}

.home_buton:hover {
  background-color: #d84343;
  transition: background-color 0.3s ease;
}
