.nav_link {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #101828;
}

.link_active {
  color: #d84343;
}

.header {
  display: flex;
  padding-top: 28px;
  padding-left: 64px;
  gap: 450px;
  background-color: #f7f7f7;
  height: 72px;
}
